@font-face {
    font-family: "fuente";
    src: url(../fuentes/TitilliumWeb-Regular.ttf);
}

body {
    margin: 0;
    font-family: "fuente";
    width: 100%;
    height: 100vh;
}

header {
    background: rgb(40,83,16);
    background: linear-gradient(90deg, rgba(40,83,16,1) 29%, rgba(54,161,21,1) 67%, rgba(85,208,32,1) 97%);
    color: white;
    width: 100%;
    height: 100%;
}

.container-menu {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-logo-media {
    display: none;
}

li {
    display: inline-block;
    margin: 0px 30px;
    font-weight: 800;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #AAD576;
}

a:hover {
    color: white;
}

@keyframes animacion-menu {
    0% {
        border-radius: 4rem;
    }

    50% {
        border-radius: 0.5rem;
        color: #AAD576;
        background-color: grey;
    }

    100% {
        border-radius: 4rem;
    }
}

.a-menu:hover {
    background-color: white;
    color: #306414;
    padding: 0.5rem;
    animation-name: animacion-menu;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.container-info {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .card {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
    }

        .card-img-top {
            width: 70%;
            height: 50%;
        }

            .card-body {
                text-align: center;
            }

                .card-title {
                    font-size: 1.5rem;
                }


                @media (max-width: 730px) {

                    .container-menu {
                        width: 100%;
                        height: 15%;
                        display: flex;
                        flex-direction: column;
                        background-color: #306414;
                    }
                    
                    .img-logo {
                        display: none;
                    }
                    
                    .img-logo-media {
                        display: flex;
                        width: 40%;
                        height: 30%;
                        margin-top: 20px;
                    }
                    
                    .lista-menu {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        margin: 0px;
                        padding: 0px;
                    }
                    
                    li {
                        margin: 0px;
                    }
                    
                    a {
                        font-size: 15px;
                        display: flex;
                    }
                                
                    .container-info {
                        width: 100%;
                        height: 85%;
                        display: flex;
                        flex-direction: column;
                        background-color: #306414;
                    }
                    
                    .container-txt {
                        margin: 0px;
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .title-nombre {
                        font-size: 20px;
                        height: 20%;
                        margin: 0px;
                    }
                    
                    .p-mi-info {
                        font-size: 0.8rem;
                        height: 60%;
                        margin: 0px 10px 0px 20px;
                    }
                    
                    .container-btn {
                        height: 20%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 15px;
                    }
                    
                    .btn-leer-mas a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .img-foto {
                        width: 70%;
                        height: 50%;
                        margin: 10px 0px 45px 0px;
                    }

                    .container-info {
                        height: 85%;
                        display: flex;
                        flex-direction: column;
                    }

                        .card {
                            height: 33%;
                            display: flex;
                            flex-direction: row;
                            margin: 0;
                        }

                            .card-img-top {
                                width: 30%;
                            }

                            .card-body {
                                width: 70%;
                            }

                                .card-title {
                                    font-size: 1rem;
                                    margin: 0;
                                }

                                .card-text {
                                    font-size: 0.7rem;
                                    margin: 0;
                                }

                                .btn-primary {
                                    font-size: 0.8rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                }